:root {
    --feautured-card-top-gap: 30px;
    --feautured-card-left-gap: 30px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

ul {
    margin: 0;
    padding: 0;
}

img {
    display: block;
}

.container {
    width: 1230px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}


.img {
    display: block;
    max-width: 100%;
    height: auto;
}

.list {
    list-style: none;
}

.link {
    text-decoration: none;
}

body {
    font-family: 'Lato', sans-serif;
    background: #FFFFFF;
    color: #1E212C;
}

/* ============== Navbar-basic =============== */

.header {
    padding: 35px 0;
    position: absolute;
    top: 60px;
    left: 50%;
    transform: translate(-50%, -50%);
}

.menu-styles {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.6;
    color: #424551;
}

.header-container {
    display: flex;
    align-items: center;
    /* outline: 1px solid red; */
}

.navigation {
    display: flex;
}

.logo {
    margin-right: 60px;
}

.menu {
    display: flex;
    gap: 40px;
}

.menu-login {
    display: flex;
    gap: 10px;
    align-items: center;
}

.loginn-btn-flex {
    display: flex;
    margin-left: auto;
}

.btn-margin-left {
    margin-right: 36px;
}

.btn {
    display: block;
}

.btn-font {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 3.25;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.5px;
    color: #FFFFFF;
}

.btn-style {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 40px;
    gap: 10px;
    width: 216px;
    height: 52px;
    background: linear-gradient(55.95deg, #FF3F3A 0%, #F75E05 100%);
    border-radius: 4px;
    border-color: transparent;
}

.icon-person {
    /* content: ''; */
    width: 20px;
    height: 20px;
    background-size: contain;
    background-image: url("../images/sprite/sprite.svg#twitter");
}

/* ============== Navbar-basic =============== */

/* ===============  Hero  ===================== */
.background {
    width: 100vw;
    height: 1080px;
    /* background: linear-gradient(55.95deg, #FF3F3A 0%, #F75E05 100%);
    opacity: 0.2; */
    background-color: rgb(254, 221, 208)
}

.hero {
    padding-top: 200px;
}

.hero-title {
    max-width: 496px;
    height: 249px;
    /* left: 344px;
    top: 318px; */
    font-style: normal;
    font-weight: 900;
    font-size: 64px;
    line-height: 130%;
    display: flex;
    align-items: center;
    letter-spacing: 1px;
    color: #1E212C;
}

.hero-title-margin {
    margin-bottom: 60px;
    /* margin-right: 180px; */
}

.btn-about-font {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 3.25;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.5px;
    background: linear-gradient(55.95deg, #FF3F3A 0%, #F75E05 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    /* text-fill-color: transparent; */
}

.btn-about-style {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 40px;
    gap: 10px;
    width: 148px;
    height: 52px;
    border-radius: 4px;
    border-color: rgba(255, 63, 58, 1) rgba(247, 94, 5, 1);
}

.button-flex {
    display: flex;
}

.btn-about-margin {
    margin-right: 24px;
}

.hero-flex {
    display: flex;
    margin-bottom: 189px;
}

.illustration-hero {
    display: block;
    width: 602px;
    height: auto;
    /* margin-top: 126px; */
    margin-left: auto;
}

.play-flex {
    display: flex;
    align-items: center;
}

.play-circle {
    position: relative;
    margin-bottom: 24px;
}

.test {
    display: flex;
    flex-direction: column;

}

.circle {
    width: 84px;
    height: 84px;
    border-radius: 50%;
    background: #FF3F3A;
    opacity: 0.12;
}

.polygon {
    fill: #FFFFFF;
    border-radius: 1px;
}

.play-link {
    position: absolute;
    top: 42px;
    left: 42px;
    transform: translate(-50%, -50%);
    /* margin: 42px 42px; */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 52px;
    height: 52px;
    border-radius: 50%;
    background: #FF3F3A;
    /* transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1); */
}

.explanation-flex {
    display: flex;
    margin: 0 auto;
}

.explanation-gap {
    margin-right: 40px;
}

.explanation-styles {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    display: flex;
    align-items: center;
    color: #1E212C;
}

.exp-digit-styles {
    font-style: normal;
    font-weight: 900;
    font-size: 46px;
    line-height: 130%;
    display: flex;
    align-items: center;
    text-align: center;
    color: #1E212C;
}

/* ===============  /Hero  ===================== */

/* ===============  Who we are  ================= */
.who-we-are {
    padding: 180px 0;
}

@media screen and (min-width: 1200px) {

    .who-we-are-bg {
        background-color: #FFFFFF;
        width: 100vw;
        background-image: url("../images/doing/About-min.png");
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
    }

    @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        .who-we-are-bg {
            background-image: url('../images/doing/About@2x-min.png');
        }
    }

    @media (min-device-pixel-ratio: 3),
    (-webkit-min-device-pixel-ratio: 3),
    (min-resolution: 288dpi),
    (min-resolution: 3dppx) {
        .who-we-are-bg {
            background-image: url('../images/doing/About@3x-min.png');
        }
    }
}

.illustration-who {
    display: block;
    width: 705px;
    height: auto;
    /* margin-top: 126px; */
    /* margin-left: auto; */
    margin-right: 135px;
}

.who-we-are-main-title {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #1E212C;
    margin-bottom: 8px;
}

.who-we-are-question-title {
    font-style: normal;
    font-weight: 900;
    font-size: 46px;
    line-height: 130%;
    color: #1E212C;
    margin-bottom: 40px;
}

.who-flex {
    display: flex;
}

.who-title-flex {
    display: flex;
    flex-direction: column;
}

.who-gap {
    margin-bottom: 12px;
}

.who-list-style {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    color: #424551;
}

.who-list-margin-bottom {
    margin-bottom: 48px;
}

/* ===============  /Who we are  ================= */


/* ===============  Featured Courses  ================= */
.featured-bg {
    width: 100vw;
    height: 1080px;
    background-color: #FFFFFF;
}

.feautured-padding {
    padding: 0 0 180px 0;

}

.featured-title-style {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #1E212C;
    margin-bottom: 8px;
}

.featured-second-title-style {
    font-style: normal;
    font-weight: 900;
    font-size: 46px;
    line-height: 130%;
    color: #1E212C;
    margin-bottom: 60px;
}

.feaututre-flex {
    display: flex;
}

.btn-feautured {
    margin-left: auto;
    margin-top: 30px;
}

.marketing {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 1px 8px;
    gap: 10px;
    width: 79px;
    height: 23px;
    background: #03CEA4;
    border-radius: 4px;
    margin-bottom: 20px;
}

.management {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 1px 8px;
    gap: 10px;
    width: 97px;
    height: 23px;
    background: #5A87FC;
    border-radius: 4px;
    margin-bottom: 20px;
}

.recruting {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 1px 8px;
    gap: 10px;
    width: 112px;
    height: 23px;
    background: #F89828;
    border-radius: 4px;
    margin-bottom: 20px;
}

.hr-title-style {
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 150%;
    color: #1E212C;
    margin-bottom: 20px;
}

.design {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 1px 8px;
    gap: 10px;
    width: 59px;
    height: 23px;
    background: #F52F6E;
    border-radius: 4px;
    margin-bottom: 20px;
}

.graphic-title-style {
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 150%;
    color: #1E212C;
    margin-bottom: 20px;
}

.marketing-font {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    color: #FFFFFF;
}

.trainning-title-style {
    font-style: normal;
    width: 322px;
    height: 60px;
    font-weight: 700;
    font-size: 20px;
    line-height: 150%;
    color: #1E212C;
    margin-bottom: 20px;
}

.usd-style {
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 150%;
    color: #FF4242;
}

.usd-title {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    color: #787A80;
}

.training-flex {
    display: flex;
}

.img-margin-right {
    margin-right: 32px;
}

.feautured-card-content {
    margin-top: 32px;
}

.training-card {
    width: 585px;
    height: 214px;
    left: 345px;
    top: 2152px;
    background: #FFFFFF;
    border: 1px solid #E5E8ED;
    box-shadow: 0px 80px 80px -20px rgba(154, 156, 165, 0.08), 0px 30px 24px -10px rgba(154, 156, 165, 0.05), 0px 12px 10px -6px rgba(154, 156, 165, 0.04), 0px 4px 4px -4px rgba(30, 33, 44, 0.03);
    border-radius: 4px;
}

.card-list>.card-taam {
    flex-basis: calc(100% / 2 - var(--feautured-card-left-gap));
    margin-left: var(--feautured-card-left-gap);
    margin-top: var(--feautured-card-top-gap);
}

.card-flex {
    display: flex;
    flex-wrap: wrap;
    margin-left: calc(-1 * var(--feautured-card-left-gap));
    margin-top: calc(-1 * var(--feautured-card-top-gap));
}



/* ===============  /Featured Courses  ================= */

/* ===============  Our benefits  ================= */
.benefits-padding {
    padding: 0 0 120px 0;

}

.benefits-main-title-style {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #1E212C;
    margin-bottom: 8px;
}

.benefits-second-title-style {
    font-style: normal;
    font-weight: 900;
    font-size: 46px;
    line-height: 130%;
    text-align: center;
    color: #1E212C;
    margin-bottom: 60px;
}

.benefits-btn-font {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 160%;
    display: flex;
    align-items: center;
    text-align: center;
    color: #9A9CA5;
}

.benefits-btn-style {
    align-items: center;
    justify-content: center;
    padding: 0px 40px;
    box-sizing: border-box;
    width: 307px;
    height: 46px;
    background-color: #ffffff;
    border: 1px solid #ffffff;
    border-radius: 4px;
}

.benefits-tutors-submit::before {
    content: "";
    width: 16px;
    height: 16px;
    background-size: contain;
}

.benefits-tutors-submit::before {
    background-image: url("../images/sprite/icons.svg#Logo-top");
    background-repeat: no-repeat;
    fill: #5046e5;
    border: 1px solid #FF3F3A;
}


.benefits-btn-style:hover,
.benefits-btn-style:focus {
    border: 1px solid #FF3F3A;
}

.benefits-btn-font:hover,
.benefits-btn-font:focus {
    color: #FF3F3A;
    cursor: pointer;
}


.benefits-list-flex {
    display: flex;
}

.benefits-tutors-font-style {
    font-style: normal;
    font-weight: 900;
    font-size: 32px;
    line-height: 130%;
    color: #1E212C;
    margin-bottom: 24px;
}

.benefits-expl-font-style {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    color: #424551;
    width: 495px;
    height: 130px;
}

.benefits-flex {
    display: flex;
    align-items: center;
}

.list-flex-margin {
    margin-bottom: 60px;
}

/* ===============  /Our benefits  ================= */